<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inventory List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of itemList" routerLink="/detail/{{ item.item_id }}">
      <ion-label>
        <h2>Name: {{ item.name }}</h2>
        <p>Serial Number: {{ item.serial_number }}</p>
      </ion-label>
      <ion-note slot="end">{{ item.category }}</ion-note>
    </ion-item>
  </ion-list>


  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            
          </ion-buttons>
          <ion-title>Add Inventory</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" placeholder="Item name" [(ngModel)]="item.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Serial Number</ion-label>
          <ion-input type="text" placeholder="Enter serial number" [(ngModel)]="item.serial_number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select [(ngModel)]="item.category" placeholder="Select Category">
            <ion-select-option value="furniture">Furniture</ion-select-option>
            <ion-select-option value="electrical">Electrical</ion-select-option>
            <ion-select-option value="Stationary">Stationary</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input type="text" placeholder="I.e color, size etc" [(ngModel)]="item.description"></ion-input>
        </ion-item>
        
        <ion-button expand="block" (click)="confirm()" [strong]="true">Confirm</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>