<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Check Connection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="showContent">
    <h2>Network Checker</h2>
    <ion-button expand="block" (click)="checkNetwork()">Check Connection</ion-button>
    <h2>Barcode Scanner</h2>
    <ion-button expand="block" (click)="scanBarcode()">Scan Barcode</ion-button>
    <p>{{ barcodeText }}</p>
  </div>

</ion-content>
<ion-footer *ngIf="!showContent">
  <ion-button expand="full" fill="clear" (click)="cancel()">Cancel</ion-button>
</ion-footer>